{{!-- Display the actual post content --}}
{{post.content}}

<hr>

<h2>Comments about {{post.title}}</h2>

<ul>
    {{#each post.comments as |comment|}}
        {{comment-tile comment=comment destroyComment="destroyComment"}}
    {{/each}}
</ul>

<hr>

{{!-- Delete Post Button --}}
<p>
    <button class="btn btn-danger" {{action 'delete' post}}>Delete Post</button>
</p>

