<h2>Welcome to Anime blog here are the available blogs</h2>

<ul>
    {{#each model as |post|}}
        {{post-tile post=post destroyPost="destroyPost" update="update"}}
    {{/each}}
</ul>

{{new-post savePost="savePost"}}